/* GLOBAL RESET */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Global body style */
body {
  background: #f4f6f8;
  font-family: "Segoe UI", sans-serif;
}
